body {
    font-family: var(--system-ui);
}

.Course_mota ul {
    display      : flex;
    flex-wrap    : wrap;
    margin-bottom: 10px;
    padding-left : 0;
}

.content_left {
    float: left;
    width: 66.66667%;
}

.tab-content {
    margin-top   : -7px;
    margin-bottom: 8px;
    margin-left  : -56px;
}

.content_left h1 {
    font-size  : 3.2rem;
    font-weight: 700;
}

.content_left li {
    display: inline-block;
}

.content_right {
    float: right;
    width: 33.33333%;
}

.yeucau {
    color      : #3c87c6;
    margin-left: -5px;
    font-size  : 1.4rem;
    left       : 0;
    position   : absolute;
    top        : 4px;
}

.dropbtn {
    background-color: #3498DB;
    color           : white;
    padding         : 16px;
    font-size       : 16px;
    border          : none;
    cursor          : pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display : inline-block;
}

.nav-item {
    height: 38px;
}

.dropdown-content {
    display         : none;
    position        : absolute;
    background-color: #f1f1f1;
    min-width       : 160px;
    overflow        : auto;
    box-shadow      : 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index         : 1;
}

.dropdown-content a {
    color          : black;
    padding        : 12px 16px;
    text-decoration: none;
    display        : block;
}

.dropdown a:hover {
    background-color: #ddd;
}



.dropbtn {
    width: 500px;
}

.nav_chitiet {
    width           : 810px;
    padding         : 14px 30px 14px 48px;
    height          : 50px;
    background-color: #efeaea;
    border-radius   : 11px;
    text-align      : center;
    cursor          : pointer;
}

.name-course {
    text-align: left;
    float     : left;
    color     : #333333;
}

.timeCoures {
    text-align: right;
    float     : right;
}

.chitiet_course {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    color        : var(--text-color);
    font-size    : 15px;
    line-height  : 48px;
    overflow     : hidden;
    padding      : 0 30px 0 48px;
    position     : relative;
}

.time_course {
    float: right;
}

.Course_detail {
    align-items   : center;
    background    : #fff;
    display       : flex;
    flex-direction: column;
    margin-bottom : 60px;
    margin-left   : 24px;
    padding-bottom: 20px;
    position      : -webkit-sticky;
    position      : sticky;
    top           : 90px;
}

.image_course {
    border-radius      : 16px;
    margin             : 2px 0 20px;
    overflow           : hidden;
    position           : relative;
    -webkit-user-select: none;
    -ms-user-select    : none;
    user-select        : none;
    width              : calc(100% - 2px);
    cursor             : pointer;
}

.image_course_play {
    background-position: 50% 50%;
    background-repeat  : no-repeat;
    background-size    : 100% auto;
    padding-top        : 56.25%;
    width              : 100%;

}

.btn_add {
    font-size       : 1.6rem;
    margin-top      : 16px;
    min-width       : 180px;
    padding         : 10px 16px;
    background-color: #419ddd;
    color           : #fff;
    border-radius   : 20px;
    font-weight     : 600;
    border          : none;
}

.Course_detail li {

    color        : #494949;
    font-size    : 15px;
    line-height  : 1.6;
    margin-bottom: 10px;
    padding-left : 35px;
    position     : relative;
}

.Course_detail ul {
    list-style : none;
    margin     : 0;
    padding    : 24px 0 10px 4px;
    text-align : left;
    margin-left: -25px;
}

.request_index_chitiet {
    flex-direction : column;
    display        : flex;
    flex-wrap      : wrap;
    margin-bottom  : 10px;
    padding-left   : 0;
    list-style-type: none;
}

.request_index_chitiet li {
    color        : var(--text-color);
    flex-basis   : 50%;
    font-size    : 1.4rem;
    line-height  : 1.6;
    margin-bottom: 12px;
    padding      : 0 24px;
    position     : relative;
}

.request_index_chitiet_ul {
    Display      : flex;
    flex-wrap    : wrap;
    margin-bottom: 10px;
    padding-left : 0;
    width        : 1260px;
}

.request_index_chitiet_ul li {
    margin-left: 20px;
    width      : auto;
}

.tab-content {
    display: none;
    width  : 100%;
}

.modal-title h3 {
    color      : #333;
    font-size  : 14px;
    font-weight: 600;
}

.modal-title h2 {
    color      : #333;
    font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size  : 2rem;
    font-weight: 900;
    margin-top : 0;
}

.VideoPlayer_wrapper__s0KXB {
    height  : 100%;
    position: relative;
}

.CourseDetail_topicList__vLbNG .CourseDetail_topicHeading__xbkxm {
    font-size  : 2rem;
    font-weight: 700;
    margin     : 36px 0 4px;
}

.CourseDetail_topicList__vLbNG .CourseDetail_list__pdfCp {
    display      : flex;
    flex-wrap    : wrap;
    margin-bottom: 10px;
    padding-left : 0;
}

ul {
    list-style-type: none;
}

.CourseDetail_topicList__vLbNG .CourseDetail_list__pdfCp li {
    color        : #333;
    flex-basis   : 50%;
    font-size    : 15px;
    line-height  : 1.6;
    margin-bottom: 12px;
    padding      : 0 24px;
    position     : relative;
}

.btn_xem {
    display         : block;
    font-size       : 16px;
    margin-top      : 16px;
    min-width       : 180px;
    padding         : 10px 16px;
    background-color: #419ddd;
    color           : #fff;
    border-radius   : 20px;
    font-weight     : 600;
    border          : none;
}

.btn:hover {
    color: #fff;
}

.CurriculumOfCourse_icon__1fxR9.CurriculumOfCourse_video__GQtG1 {
    color       : rgba(240, 81, 35, .4);
    margin-right: 4px;
    float       : left;
    margin-top  : 17px;
    margin-left : 28px;
}



.CurriculumOfCourse_lessonName__llwRr {
    font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 600;
}

.Course_mota {
    display      : flex;
    flex-wrap    : wrap;
    margin-bottom: 10px;
    padding-left : 0;
}

.Course_mota li {
    color        : #333;
    flex-basis   : 50%;
    font-size    : 1.4rem;
    line-height  : 1.6;
    margin-bottom: 12px;
    padding      : 0 24px;
    position     : relative;
}



button {
    box-sizing: border-box;
}