// .course-detail-container{
//     height: 500px;
//     margin: 0 100px;
//     border: 1px solid red;

//     .intro-course{
//         display: flex;
//         border: 1px solid gray;
//         .content-left{
//             width: 20%;
//             background: center center no-repeat;
//             width: 120px;
//             height: 120px;
//             border-radius: 50%;
//             margin: 10px 20px;
//         }
//         .content-right{
//             width: 80%;
//             border: 1px solid gray;
//             flex-direction: column;
//             padding-left: 10px;
//             .up{
//                 font-size: 20px;
//                 font-weight: 600;

//             }
//             .down{
//                 padding-top: 10px;
//             }
//         }
//     }
// }

.btn-13:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #3054f5;
    background-image: linear-gradient(315deg, #4d9bcc 0%, #225caf 74%);
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

.btn-13:hover {
    color: #fff;
}

    .btn-13:hover:after {
        top: 0;
        height: 100%;
    }

.btn-13:active {
    top: 2px;
}
.custom-btn {
width: 130px;
height: 40px;
color: #ffffff;
border-radius: 5px;
padding: 10px 10px;
font-family: 'Lato', sans-serif;
font-weight: 500;
background: transparent;
cursor: pointer;
transition: all 0.3s ease;
position: relative;
display: inline-block;
box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);

outline: none;
}
.btn-13 {
background-color: #000f5a;
background-image: linear-gradient(315deg, #1a45777d 0%, #2357f6 74%);
border: none;
z-index: 1;

}

body {
    font-family: var(--system-ui);
}
.Course_mota ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-left: 0;
}
.content_left {
    float: left;
    width: 66.66667%;
}
.tab-content {
    margin-top: -7px;
    margin-bottom: 8px;
    margin-left: -56px;
}
.content_left h1 {
    font-size: 32px;
    font-weight: 700;
}
.content_left li {
    display: inline-block;
}
.content_right {
    float: right;
    width: 33.33333%;
}
.yeucau {
    color: #3c87c6;
    margin-left: -5px;
    font-size: 14px;
    left: 0;
    position: absolute;
    top: 4px;
}
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: #2980B9;
    }

.dropdown {
    position: relative;
    display: inline-block;
}
.nav-item {
    height: 38px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: #ddd;
}



.dropbtn {
    width: 500px;
}
.nav_chitiet {
    width: 810px;
    padding: 14px 30px 14px 48px;
    height: 50px;
    background-color: #efeaea;
    border-radius: 11px;
    text-align: center;
    cursor: pointer;
}
.name-course {
    text-align: left;
    float: left;
    color: #333333;
}
.timeCoures {
    text-align: right;
    float: right;
}
.chitiet_course {
    border-bottom: 1px solid rgba(0,0,0,.05);
    color: var(--text-color);
    font-size: 14px;
    line-height: 48px;
    overflow: hidden;
    padding: 0 30px 0 48px;
    position: relative;
}
.time_course{
    float: right;
}
.Course_detail {
    align-items: center;
    background: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-left: 24px;
    padding-bottom: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 90px;
}
.image_course {
    border-radius: 16px;
    margin: 2px 0 20px;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: calc(100% - 2px);
    cursor: pointer;
}
.image_course_play {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 56.25%;
    width: 100%;

}
.btn_add {
    font-size: 1.6rem;
    margin-top: 16px;
    min-width: 180px;
    padding: 10px 16px;
    background-color: #419ddd;
    color: #fff;
    border-radius: 20px;
    font-weight: 600;
    border: none;
}
.Course_detail li {
    
    color: #494949;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
    padding-left: 35px;
    position: relative;
}
.Course_detail ul {
    list-style: none;
    margin: 0;
    padding: 24px 0 10px 4px;
    text-align: left;
    margin-left: -25px;
}
.request_index_chitiet {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-left: 0;
    list-style-type: none;
}
    .request_index_chitiet li {
        color: var(--text-color);
        flex-basis: 50%;
        font-size: 14px;
        line-height: 1.6;
        margin-bottom: 12px;
        padding: 0 24px;
        position: relative;
    }
.request_index_chitiet_ul {
    Display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-left: 0;
    width: 1260px;
}
.request_index_chitiet_ul li{
    margin-left: 20px;
    width: auto;
}

.tab-content {
    display: none;
    width: 100%;
}
.modal-title h3 {
    color: #333;
    font-size: 14px;
    font-weight: 600;
}

.modal-title h2 {
    color: #333;
    font-family: system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-size: 20px;
    font-weight: 900;
    margin-top: 0;
}

.VideoPlayer_wrapper__s0KXB {
    height: 100%;
    position: relative;
}
.CourseDetail_topicList__vLbNG .CourseDetail_topicHeading__xbkxm {
    font-size: 25px;
    font-weight: 700;
    margin: 36px 0 4px;
}
.CourseDetail_topicList__vLbNG .CourseDetail_list__pdfCp {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-left: 0;
}
ul {
    list-style-type: none;
}
.CourseDetail_topicList__vLbNG .CourseDetail_list__pdfCp li {
    color: #333;
    flex-basis: 50%;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 12px;
    padding: 0 24px;
    position: relative;
}
.btn_xem {
    display: block;
    font-size: 1.6rem;
    margin-top: 16px;
    min-width: 180px;
    padding: 10px 16px;
    background-color: #419ddd;
    color: #fff;
    border-radius: 20px;
    font-weight: 600;
    border: none;
}
.btn:hover{
    color: #fff;
}
.CurriculumOfCourse_icon__1fxR9.CurriculumOfCourse_video__GQtG1 {
    color: rgba(240,81,35,.4);
    margin-right: 4px;
    float: left;
    margin-top: 17px;
    margin-left: 28px;
}



.CurriculumOfCourse_lessonName__llwRr {
    font-family: system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 600;
}
.Course_mota {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-left: 0;
}
.Course_mota li {
    color: #333;
    flex-basis: 50%;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 12px;
    padding: 0 24px;
    position: relative;
}
