body {
    font-family: system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}
.containter {
    position: absolute; /* Thiết lập vị trí tuyệt đối */
    max-width: 1500px;
    width: 100%; /* Thiết lập chiều rộng bằng với chiều rộng của wrapper */
    height: 50px; /* Thiết lập chiều cao của thanh ngang */
    background-color: #333; /* Thiết lập màu nền cho thanh ngang */
}
.container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    max-width: 1500px;
}
.Tracks_wrapper__rjtW\+ {
    border-left: 1px solid #e7e7e7;
    float: right;
    width: 23%;
    
    z-index: 2;
}
.Content_wrapper__rvE31 {
    float: left;
    width: 77%;
}
.Tracks_container__f6ZNT {
    -webkit-animation: Tracks_fadeIn__QhYUg .2s ease-in;
    animation: Tracks_fadeIn__QhYUg .2s ease-in;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.Tracks_header__zNeCh {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.Tracks_heading__CjgkM {
    font-size: 25px;
    line-height: 1.4;
    margin: 0;
    font-weight: 700;
}
.TrackItem_wrapper__5kdF3 {
    background-color: #f7f8fa;
    border-bottom: 1px solid #dedfe0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
}
.TrackItem_title__tR93h {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.TrackItem_desc__KkiVq {
    color: #29303b;
    font-size: 12px;
    font-weight: 400;
    margin-top: 4px;
}
.svg-inline--fa {
    
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}
.TrackItem_icon__SLY\+b {
    color: #333;
    font-size: 16px;
    position: absolute;
    right: 23px;
    top: 12px;
}

.StepItem_wrapper__sWYHG {
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 2px;
    position: relative;
    transition: all .3s ease-in-out;
}
.StepItem_wrapper__sWYHG {
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 2px;
    position: relative;
    transition: all .3s ease-in-out;
}
.StepItem_info__UckcT {
   // display: flex;
    cursor: pointer;
    flex: 1 1;
    margin: 0 0 0 28px;
    position: relative;
}
.StepItem_title__PgsXi {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    position: relative;
    top: -2px;
}
.StepItem_desc__zN9Bs {
    font-size: 11px;
    margin-bottom: 0;
}
.StepItem_lesson-icon__wGQGc {
    color: #888;
    font-size: 13px;
    margin-right: 6px;
    transition: all .3s ease-in-out;
}
.TrackItem_wrapper__5kdF3:hover {
    background-color: #edeff1;
    cursor: pointer;
}
.Video_wrapper__aoEDT {
    background-color: #000000;
    padding: 0 8.5%;
    position: relative;
    width: 100%;
}
.VideoPlayer_wrapper__s0KXB {
    padding-top: 56.25%;
    position: relative;
}
.VideoPlayer_player__CA18S {
    inset: 0;
    overflow: hidden;
    position: absolute;
}
.Detail_items_list{
    height: 477px;
    overflow-x: hidden;
    overflow-y: auto;
}
.Video_content__BXh4c {
    min-height: 120px;
    padding: 0 8.5%;
    margin-bottom: -25px;
}
.Video_contentTop__ngj7P {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.Heading_heading__VnWS7 {
    font-size: 31px;
    margin: 48px 0 8px;
    font-weight: 700;
    margin-left: -86px;
    margin-top: 25px;
    color: #000000;
}
.StepItem_wrapper__sWYHG:hover {
    background-color: #edeff1;
}
.activeShowVideo {
    background-color: #edeff1;
}
