.home-header-container {
    height          : 70px;
    width           : 100%;
    padding         : 0 40px;
    position        : relative;
    background-color: #2B3644;
    top             : 0;
    position        : sticky;
    z-index         : 1000;

    .home-header-content {
        width  : 100%;
        height : 100%;
        display: flex;
        color  : white;

        .left-content {
            width      : 20%;
            display    : flex;
            align-items: center;

            .header-logo {
                background     : url('../../assets/10.png') center center no-repeat;
                height         : 100%;
                width          : 100%;
                background-size: 170px;
                margin-right   : 40px;
                cursor         : pointer;
            }

            i {
                font-size: 25px;
                color    : white;
                cursor   : pointer;
            }
        }

        .center-content {
            width          : 55%;
            display        : flex;
            justify-content: space-between;
            align-items    : center;


            .child-content {
                cursor: pointer;

                .sub-title {
                    font-weight: 400;
                    font-size  : 12;
                }
            }
        }

        .right-content {
            width          : 25%;
            display        : flex;
            justify-content: center;
            align-items    : center;

            .NavBar_registerBtn__bQERL {
                background   : linear-gradient(to right bottom, #4bdaf7, #0044d6);
                border-radius: 99px;
                color        : #fff;
                cursor       : pointer;
                font-size    : 14px;
                font-weight  : 600;
                padding      : 9px 20px;
                transition   : opacity .25s;
                border       : none;
                box-shadow   : none;
                display      : block;
                outline      : none;
            }

            .support {
                padding-right: 25px;
                display      : flex;
                align-items  : center;
                cursor       : pointer;

                i {
                    font-size   : 15px;
                    margin-right: 5px;
                }
            }

            .language-en {
                margin-left : 10px;
                margin-right: 40px;
                cursor      : pointer;

                &.active {
                    opacity: 1;
                    color  : rgb(0, 255, 234);
                }
            }

            .language-vi {
                cursor: pointer;

                &.active {
                    opacity: 1;
                    color  : rgb(0, 255, 234);
                }
            }
        }
    }

}

.home-header-banner {
    // background: url('../../assets/bc.jpg');
    background: url(https://ugc.futurelearn.com/uploads/images/7c/31/7c316961-1436-42b4-920a-f46c0c884b84.jpg);

    background-repeat  : no-repeat;
    background-position: center;
    background-size    : cover;
    height             : 830px;
    margin-top         : -180px;
    display            : flex;
    flex-direction     : column;


    .content-up {
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));
        margin-top      : 60px;
        height          : 70%;

        .title1 {
            text-align   : center;
            font-size    : 35px;
            text-shadow  : 1px 1px 1px #333;
            margin-bottom: 15px;
            color        : white;
            padding-top  : 200px;
            font-weight  : 600;
        }

        .title2 {
            text-align   : center;
            font-size    : 35px;
            text-shadow  : 1px 1px 1px #333;
            color        : white;
            margin-bottom: 100px;
        }

        .search {
            width          : fit-content;
            display        : flex;
            justify-content: center;
            align-items    : center;
            margin         : 0 auto;
            padding        : 10px;
            border-radius  : 25px;
            background     : #ffffff;

            i {
                margin: 0 5px;
            }

            input {
                height    : 30px;
                width     : 300px;
                background: transparent;
                border    : none;
                outline   : none;
            }
        }
    }

    .content-down {
        height          : 35%;
        padding-bottom  : 10px;
        display         : flex;
        align-items     : flex-end;
        justify-content : center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), #119cef5c, #ebebeb);

        .options {

            text-align     : center;
            display        : flex;
            justify-content: center;
            gap            : 50px;

            .option-child {
                width: 120px;

                .icon-child {
                    background   : white;
                    width        : 50px;
                    height       : 50px;
                    padding      : 10px;
                    border-radius: 50%;
                    text-align   : center;
                    margin       : 0 auto;

                    // i{
                    //     color: #49bce2;
                    //     font-size: 20px;
                    // }
                    img {
                        width : 40px;
                        height: 40px;
                        margin: -7px -4px;
                    }
                }

                .text-child {
                    font-size  : 17px;
                    font-weight: 500;
                    cursor     : pointer;
                    color      : #000000;
                }
            }
        }
    }

}